html, body {
    text-align: center;
    align-content: center;
    background-color: rgb(123, 29, 62);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-style:italic;
}
    


